header{
    background-color: #2690F2;
}
.ney{
    position: absolute;
width: 293px;
height: 278px;
left: 20px;
top: 36px;
border-radius: 150px;
}
.titulo{
    position: absolute;
height: 94px;
left: 455px;
top: 34px;

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 114px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabeçalho{
    position: absolute;
width: 618px;
height: 94px;
left: 455px;
top: 34px;

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 114px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil {
/* Perfil */
position: absolute;
width: 156px;
height: 57px;
left: 403px;
top: 146px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #000000;
}
.Galeria{
    /* Galeria */


position: absolute;
width: 234px;
height: 53px;
left: 663px;
top: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #000000;

}
.sobremim{
/* Sobre mim */


position: absolute;
width: 248px;
height: 49px;
left: 911px;
top: 150px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}